/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

form#paw2heart-purchase {
	width: 50%;
}

form#paw2heart-purchase label,
form#paw2heart-purchase input,
form#paw2heart-purchase select {
	display: block;
}

form#paw2heart-purchase .buttons {
	margin-top: 20px;
}

form#paw2heart-purchase input[name=preview] {
	display: inline;
}